@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

#navbar, #navbar-list{
  color: #FFFFFF;
}

.debug, .debug-r {
  outline: dashed red 1px;
}

.debug-b {
  outline: dashed blue 1px;
}

.debug-g{
  outline: dashed green 1px;
}

.profile-border{
  background:
  linear-gradient(to right, rgb(29, 29, 29) 7px, transparent 7px) 0 0,
  linear-gradient(to left, rgb(29, 29, 29) 7px, transparent 7px) 100% 100%,
  linear-gradient(to bottom, rgb(29, 29, 29) 7px, transparent 7px) 0 0,
  linear-gradient(to top, rgb(29, 29, 29) 7px, transparent 7px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}
